.containerContacto{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    width: 209vh;
    height: 600px;
    background-color: rgb(166, 139, 213);
}

.redes{
    display: grid;
    justify-content: center;
    width: 500px;
    height: 200px;
    object-fit: cover;
    margin: 5px;
    margin-top: 15vh;
    font-size: large;
}

img{
    border-radius: 30%;
    width: 100px;
    height: 100px;

}

.Titulo{
    justify-content: center;
    padding: 10px;
    background-color: rgb(89, 20, 110);
}

h2{
    margin-top: 10px;
}