footer{
    display: flex;
    height: 125px;
    background-color: rgb(124, 30, 124);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: larger;
    margin-top: 0vh;
}

*{
    color: white;
}

h2{
    color: white;
}

